body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.file-upload-wrapper{
  background-color: white;
  padding: 30px;
  position: relative;
  max-width:700px ;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-title{
  display: flex;
  justify-content: center;
  align-items: center;

}

.file-title img{
  padding-right: 10px;

}
.metaData-table-wrapper{
  width: 100%;
}
.metaData-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.file-preview{
  width:424px ;

}
.metaData-table-wrapper tr {
  border-bottom: 1px solid #D9D9D9;
}

.metaData-table-wrapper td, th {
  text-align: left;
  padding: 12px;
}

.file-input-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  background-color: #D9D9D9;
  width:425px;
  height: 239px;
  padding:10px;
  box-sizing: border-box;
}

.previewElement{
  width:100%;
  height: 100%;
  max-height: 219px;
}

.file-label {
  display: inline-block;
  background-color: #F28964;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width:150px;
  text-align:center;
}

.file-label:hover {
  background-color: #F4AC92;
}

.file-upload:focus + .file-label {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.upload-button-wrapper{
  margin-left: 25px;

}
.upload-button-wrapper label{
  margin-bottom: 40px;
}

.upload-button-wrapper input{
display: none;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: absolute;
 top: 42%;
 left: 47%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}